body{
    font-family: 'Quintessential', "cursive";
}

p{
    font-style: normal;
}
.container{
    padding-left: 2em;
    padding-right:2rem;

}
.container-fluid{
    max-width:600px;
    margin: auto;
}
.container-center
{
    max-width:600px;
margin=auto;
}